Package: golang-github-danos-configd-client-dev
Source: configd
Version: 2.12.2
Architecture: all
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 52
Depends: golang-github-danos-configd-rpc-dev
Section: admin
Priority: optional
Description: configd client library
 Golang configd client library
 .
 This package contains the source.
