Package: yangd
Source: configd
Version: 2.12.2
Architecture: amd64
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 37
Depends: adduser, libcap2-bin, lu, yangd-v1-yang, deb-vci-helper
Built-Using: golang-1.24 (= 1.24.4-1), golang-dbus (= 5.1.0-1), golang-fsnotify (= 1.8.0-3), golang-github-coreos-go-systemd (= 22.5.0-1), golang-github-danos-aaa (= 2.1), golang-github-danos-config (= 1.9), golang-github-danos-encoding (= 0.10), golang-github-danos-mgmterror (= 1:1.8), golang-github-danos-utils (= 1.7), golang-github-danos-yang (= 2.12.1), golang-github-go-ini-ini (= 1.67.0-1), golang-github-jsouthworth-objtree (= 1.0-0vyatta5), golang-go.crypto (= 1:0.25.0-1), golang-golang-x-sys (= 0.22.0-1), golang-jsouthworth-dyn (= 1.0.1-1), golang-jsouthworth-hash (= 1.0-1), golang-jsouthworth-immutable (= 1.0.1-1), golang-jsouthworth-seq (= 1.0.1-1), golang-jsouthworth-transduce (= 1.0.1-1), golang-jsouthworth-try (= 1.0-1), vyatta-component-infra (= 4.12)
Section: admin
Priority: extra
Description: YANG daemon
 YANG daemon for parsing YANG models
