Package: golang-github-danos-configd-rpc-dev
Source: configd
Version: 2.12.2
Architecture: all
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 41
Section: admin
Priority: optional
Description: configd rpc library
 Golang configd rpc library
 .
 This package contains the source.
